<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a href="http://brainykat.com">KSD</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 5.0.0.1 <small><a href="https://brainykat.com">powered by brainykat</a></small>
    </div>
</footer>

